.buttons {
	display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin: auto; */
    /*margin-left: 0%;*/
}

.radio-button {
font-family: 'Kodchasan', sans-serif;
 	color: #6796A3;
}

.questions {
font-family: 'Kodchasan', sans-serif;
 	color: #407888;
}